<!doctype html>
<html>

  <head>
    <!--Use the `title` variable to set the title of the page-->
    <title>{{ .title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    
    <!--Use bootstrap to make the application look decent-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>

  <body class="container">
    <nav class="navbar navbar-dark bg-dark" >
      <div class="container-fluid" >
        <h1><span class="navbar-brand mb-0 h1" style="font-size: 60px;">Article   Management   System</span></h1>
      </div>
    </nav>
    <!--Embed the menu.html template at this location-->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            Home
          </a>
        </div>
        <ul class="nav navbar-nav">
          {{ if .is_logged_in }}
            <!--Display this link only when the user is logged in-->
            <li><a href="/article/create">Create Article</a></li>
          {{end}} 
          {{ if not .is_logged_in }}
            <!--Display this link only when the user is not logged in-->
            <li><a href="/u/register">Register</a></li>
          {{end}} 
          {{ if not .is_logged_in }}
            <!--Display this link only when the user is not logged in-->
            <li><a href="/u/login">Login</a></li>
          {{end}} 
          {{ if .is_logged_in }}
            <!--Display this link only when the user is logged in-->
            <li><a href="/u/logout">Logout</a></li>
          {{end}}
        </ul>
      </div>
    </nav>